# Compute Notebook Data

This notebook is devoted to calculating notebok statistics for further analysis. There are generally three types of stats we aim to calculate:
1. Notebook metadata stored in the notebook itself (e.g., nbformat, kernel_lang)
2. Descriptive information about cells, their type, and length
3. Descriptive information about the content of cells (import statements, keywords, links)

In [1]:
import os
import re
import time
import json
import datetime

import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline
%load_ext line_profiler

## 0. Load notebook, repo, and readme metadata

In [12]:
# Notebook metadata
df_nb = pd.read_csv('../data/csv/nb_metadata.csv')
df_nb.rename(columns = {'Unnamed: 0':'nb_id'}, inplace = True)
print(df_nb.shape)
df_nb.head()

(1253620, 16)

,nb_id,html_url,max_filesize,min_filesize,name,owner_html_url,owner_id,owner_login,path,query_page,repo_description,repo_fork,repo_html_url,repo_id,repo_name,repo_private
0,0,https://github.com/dalequark/emotivExperiment/...,10,0,EmotivDataAnalysis.ipynb,https://github.com/dalequark,2328571,dalequark,ipynb/EmotivDataAnalysis.ipynb,1,NaN,False,https://github.com/dalequark/emotivExperiment,26093748,emotivExperiment,False
1,1,https://github.com/kevcisme/madelon_redux/blob...,10,0,Part_IV_Project_3-checkpoint_BASE_63907.ipynb,https://github.com/kevcisme,24496260,kevcisme,ipynb/.ipynb_checkpoints/Part_IV_Project_3-che...,1,NaN,False,https://github.com/kevcisme/madelon_redux,95729593,madelon_redux,False
2,2,https://github.com/HaraldoFilho/DLND-Projects/...,10,0,_.ipynb,https://github.com/HaraldoFilho,15271881,HaraldoFilho,_.ipynb,1,"Index for the projects of the Udacity's ""Deep ...",False,https://github.com/HaraldoFilho/DLND-Projects,88182909,DLND-Projects,False
3,3,https://github.com/mhjensen/CPMLS/blob/4a5b37e...,10,0,csexmas2015.ipynb,https://github.com/mhjensen,2732953,mhjensen,doc/pub/CSETalks/csexmas2015/ipynb/csexmas2015...,1,Master program in Computational Science. The l...,False,https://github.com/mhjensen/CPMLS,35169104,CPMLS,False
4,4,https://github.com/freqn/atom_configuration/bl...,10,0,jupyter.ipynb,https://github.com/freqn,3611075,freqn,packages/file-icons/examples/jupyter.ipynb,1,Atom Config,False,https://github.com/freqn/atom_configuration,57460377,atom_configuration,False

In [3]:
# Repository metadata
df_repo = pd.read_csv('../data/csv/repo_metadata.csv')
del df_repo['Unnamed: 0']
print(df_repo.shape)
df_repo.head()

(193026, 24)

,created_at,description,fork,forks_count,has_downloads,has_issues,has_pages,has_wiki,html_url,id,...,owner_id,owner_login,owner_type,private,pushed_at,size,stargazers_count,subscribers_count,updated_at,watchers_count
0,2008-03-01T23:35:48Z,Pysolar is a collection of Python libraries fo...,False,59,True,True,True,False,https://github.com/pingswept/pysolar,2058,...,1875,pingswept,User,False,2017-05-29T13:34:12Z,4400,114,24,2017-07-10T09:46:44Z,114
1,2008-10-22T10:30:25Z,My uni homework,False,0,True,True,False,True,https://github.com/ELLIOTTCABLE/Homework,66233,...,200,ELLIOTTCABLE,User,False,2016-10-05T10:48:54Z,634,4,3,2016-05-08T15:22:05Z,4
2,2008-12-09T21:05:22Z,"Incubator for useful bioinformatics code, prim...",False,172,True,True,True,False,https://github.com/chapmanb/bcbb,87831,...,39391,chapmanb,User,False,2017-07-23T10:26:58Z,67640,368,54,2017-07-25T13:10:17Z,368
3,2009-02-01T23:43:19Z,NaN,False,2,True,True,False,True,https://github.com/certik/chess,119491,...,20568,certik,User,False,2016-03-20T22:53:21Z,3006,4,4,2016-05-09T00:40:15Z,4
4,2009-02-02T22:26:08Z,Generic Disease Modelling System,False,5,True,True,False,True,https://github.com/aflaxman/gbd,120233,...,51236,aflaxman,User,False,2013-02-27T22:06:57Z,69051,11,3,2016-08-30T23:29:41Z,11

In [4]:
# Readme metadtata
df_readme = pd.read_csv('../data/csv/repo_readme.csv')
del df_readme['Unnamed: 0']
print(df_readme.shape)
df_readme.head()

(142449, 7)

,content,html_url,name,path,repo_id,size,type
0,IyMgUHlzb2xhciAjIwoKWyFbQnVpbGQgU3RhdHVzXShodH...,https://github.com/pingswept/pysolar/blob/mast...,README.markdown,README.markdown,2058,3226,file
1,SG9tZXdvcmsKPT09PT09PT0KV2hhdCB0aGUgdGl0bGUgc2...,https://github.com/ELLIOTTCABLE/Homework/blob/...,README.markdown,README.markdown,66233,441,file
2,Q29sbGVjdGlvbiBvZiB1c2VmdWwgY29kZSByZWxhdGVkIH...,https://github.com/chapmanb/bcbb/blob/master/R...,README.md,README.md,87831,1171,file
3,SW50cm9kdWN0aW9uDQo9PT09PT09PT09PT0NCg0KVGhpcy...,https://github.com/aflaxman/gbd/blob/master/RE...,README.rst,README.rst,120233,690,file
4,Q0FQTyBOb3RlczoKUGFzdGVkIGZyb20gUEFQRVIgd2lraS...,https://github.com/HERA-Team/capo/blob/master/...,README,README,151115,1086,file

## 1. Scrape Additional nb data from nb file

We currently only have the metadata provided from Github's API. Now we can look at the nb files themselves and get the metadata from within the notebook (nbformat, kernel, langauge) and compute stats about each notebook (type and num of cell, and so on).

For now let's test this metadata extraction with a subset of 1000 nbs. And if that works we can then apply the extraction code to all notebooks.

In [18]:
df_nb_sample = df_nb.sample(1000)
df_nb_sample.shape

(1000, 23)

In [5]:
def write_to_log(msg):
    f = '../logs/nb_parse_log.txt'
    log_file = open(f, "a")
    log_file.write(msg + "\n")
    
def get_nb_metadata(df):
    # create blank columns for the data
    df["nbformat"] = None
    df["nbformat_minor"] = None
    df["kernel_lang"] = None
    df["kernel_name"] = None
    df["lang_name"] = None
    df["lang_version"] = None
    df['num_cells'] = None
    
    # track time to process files
    count = 0    
    time1 = time.time()
    
    for index, row in df.iterrows():
        # track time to process files
        count += 1
        if count % 10000 == 0:
            print('%s rows in %s seconds' % (count, time.time() - time1))

        f = '../data/notebooks/nb_%s.ipynb' % row['nb_id']
        with open(f) as data_file:
            date_string = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

            try:
                data = json.load(data_file)
            except:
                # track files we could not open
                msg = '%s: had trouble loading %s' % (date_string, row['nb_id'])
                write_to_log(msg)
                continue

            if isinstance(data, dict): 
                keys = data.keys()
            else:
                keys = []

            # get nb top level metadata
            if 'nbformat' in keys:
                df.set_value(index, 'nbformat', data['nbformat'])
            if 'nbformat_minor' in keys:
                df.set_value(index, 'nbformat_minor', data['nbformat_minor'])
            
            # get information about the number of cells
            if 'cells' in keys:
                df.set_value(index, 'num_cells', len(data['cells']))
            elif 'worksheets' in keys:
                num_cells = 0
                for w in data['worksheets']:
                    num_cells += len(w['cells'])
                df.set_value(index, 'num_cells', num_cells)

            # get info from the metadata dictionary
            if 'metadata' in keys:
                metadata_keys = data['metadata'].keys()

                if 'kernelspec' in metadata_keys:
                    kernel_keys = data['metadata']['kernelspec'].keys()
                    if 'language' in kernel_keys:
                        df.set_value(index, 'kernel_lang', data['metadata']['kernelspec']['language'])
                    if 'display_name' in kernel_keys:
                        df.set_value(index, 'kernel_name', data['metadata']['kernelspec']['display_name'])

                if 'language_info' in metadata_keys:
                    lang_keys = data['metadata']['language_info'].keys()
                    if 'name' in lang_keys:
                        df.set_value(index, 'lang_name', data['metadata']['language_info']['name'])
                    if 'version' in lang_keys:
                        df.set_value(index, 'lang_version', data['metadata']['language_info']['version'])

                elif 'language' in metadata_keys:
                    df.set_value(index, 'lang_name', data['metadata']['language'])

We eventually got the code to work on the 1000 sample notebooks, so now we will apply it to the whole dataset. Here, as elsewhere I track how long the extraction is taking.

In [6]:
# get metadata and save updated dataframe to a csv file
get_nb_metadata(df_nb)
df_nb.to_csv('../data/csv/nb_metadata_w_nb.csv')

10000 rows in 66.51938724517822 seconds
20000 rows in 106.40936398506165 seconds
30000 rows in 233.25157499313354 seconds
40000 rows in 280.3122229576111 seconds
50000 rows in 327.68263602256775 seconds
60000 rows in 431.2840702533722 seconds
70000 rows in 475.36883091926575 seconds
80000 rows in 515.8759350776672 seconds
90000 rows in 693.012088060379 seconds
100000 rows in 741.2404401302338 seconds
110000 rows in 783.0808730125427 seconds
120000 rows in 824.5476369857788 seconds
130000 rows in 869.077358007431 seconds
140000 rows in 912.9306890964508 seconds
150000 rows in 1070.3463661670685 seconds
160000 rows in 1116.3673310279846 seconds
170000 rows in 1156.7598099708557 seconds
180000 rows in 1214.2917590141296 seconds
190000 rows in 1258.8786220550537 seconds
200000 rows in 1502.3247511386871 seconds
210000 rows in 1548.7590849399567 seconds
220000 rows in 1600.6675288677216 seconds
230000 rows in 1653.0572032928467 seconds
240000 rows in 1697.7411050796509 seconds
250000 rows in 1835.706012248993 seconds
260000 rows in 1892.5084700584412 seconds
270000 rows in 1933.4557070732117 seconds
280000 rows in 1983.8532071113586 seconds
290000 rows in 2174.783956050873 seconds
300000 rows in 2234.5782430171967 seconds
310000 rows in 2275.3528990745544 seconds
320000 rows in 2328.4060010910034 seconds
330000 rows in 2387.4722402095795 seconds
340000 rows in 2442.408091068268 seconds
350000 rows in 2503.2458879947662 seconds
360000 rows in 2567.564782142639 seconds
370000 rows in 2748.6947009563446 seconds
380000 rows in 2801.930546283722 seconds
390000 rows in 2850.74449300766 seconds
400000 rows in 2901.893846988678 seconds
410000 rows in 2956.573361158371 seconds
420000 rows in 3003.7337939739227 seconds
430000 rows in 3050.242136001587 seconds
440000 rows in 3194.3949689865112 seconds
450000 rows in 3254.4618752002716 seconds
460000 rows in 3304.8099892139435 seconds
470000 rows in 3351.0085501670837 seconds
480000 rows in 3400.2568740844727 seconds
490000 rows in 3441.078835964203 seconds
500000 rows in 3651.9031410217285 seconds
510000 rows in 3693.9233021736145 seconds
520000 rows in 3733.7367820739746 seconds
530000 rows in 3793.5553121566772 seconds
540000 rows in 3833.317270040512 seconds
550000 rows in 3873.0267610549927 seconds
560000 rows in 3907.6155490875244 seconds
570000 rows in 3955.958858013153 seconds
580000 rows in 3991.978350162506 seconds
590000 rows in 4041.62154006958 seconds
600000 rows in 4310.946955919266 seconds
610000 rows in 4335.539240121841 seconds
620000 rows in 4380.614920139313 seconds
630000 rows in 4432.52081990242 seconds
640000 rows in 4455.505779981613 seconds
650000 rows in 4502.157449007034 seconds
660000 rows in 4552.059603214264 seconds
670000 rows in 4605.167228221893 seconds
680000 rows in 4630.899739027023 seconds
690000 rows in 4683.643748044968 seconds
700000 rows in 4735.40375494957 seconds
710000 rows in 4788.427510023117 seconds
720000 rows in 4810.745115041733 seconds
730000 rows in 4858.03587603569 seconds
740000 rows in 4905.722660064697 seconds
750000 rows in 4956.163677215576 seconds
760000 rows in 5010.162832021713 seconds
770000 rows in 5259.806282043457 seconds
780000 rows in 5316.929243087769 seconds
790000 rows in 5347.277568101883 seconds
800000 rows in 5418.266438245773 seconds
810000 rows in 5447.914005041122 seconds
820000 rows in 5512.987914085388 seconds
830000 rows in 5539.692368030548 seconds
840000 rows in 5611.29296708107 seconds
850000 rows in 5638.138297080994 seconds
860000 rows in 5717.632857084274 seconds
870000 rows in 5749.576069116592 seconds
880000 rows in 5822.975028038025 seconds
890000 rows in 5883.301744222641 seconds
900000 rows in 6128.2082259655 seconds
910000 rows in 6184.426604986191 seconds
920000 rows in 6236.118540048599 seconds
930000 rows in 6305.886580944061 seconds
940000 rows in 6361.605379104614 seconds
950000 rows in 6386.6756999492645 seconds
960000 rows in 6441.970118045807 seconds
970000 rows in 6488.184308052063 seconds
980000 rows in 6551.72793006897 seconds
990000 rows in 6578.622267246246 seconds
1000000 rows in 6652.515459060669 seconds
1010000 rows in 6681.048869132996 seconds
1020000 rows in 6708.902536153793 seconds
1030000 rows in 6784.63082408905 seconds
1040000 rows in 6806.503717184067 seconds
1050000 rows in 6837.135677099228 seconds
1060000 rows in 6909.671313047409 seconds
1070000 rows in 6945.858078956604 seconds
1080000 rows in 7226.769331216812 seconds
1090000 rows in 7252.184328079224 seconds
1100000 rows in 7278.56477689743 seconds
1110000 rows in 7349.7533621788025 seconds
1120000 rows in 7376.728235960007 seconds
1130000 rows in 7489.170187950134 seconds
1140000 rows in 7512.867295026779 seconds
1150000 rows in 7548.082280874252 seconds
1160000 rows in 7575.657500267029 seconds
1170000 rows in 7688.570248842239 seconds
1180000 rows in 7714.914883136749 seconds
1190000 rows in 7747.349491119385 seconds
1200000 rows in 7778.587624073029 seconds
1210000 rows in 7899.128128051758 seconds
1220000 rows in 7929.718556165695 seconds
1230000 rows in 7953.37375998497 seconds
1240000 rows in 7980.648865938187 seconds
1250000 rows in 8090.051955938339 seconds

## 2. Get Data about Cell Types

I want to track data on each cell. I think the best way to do this is to have a dataframe with a separate row for each cell. I think I want to track the following data. Some of the difficulty in writing this extraction code will be handling nbformat 3.0 that use a different format to store notebook data.

1. nb_id
2. workbook_index
2. cell_index
3. cell_type
3. num_words (raw, markdown and headings)
4. lines of code (code cells)
5. num_execute_result
6. execute_result_keys
7. num_error
8. error_names
9. error_values
10. num_stream
11. num_display_data
12. display_data_keys

In [46]:
def write_to_log(msg):
    f = '../logs/cell_parse_log.txt'
    log_file = open(f, "a")
    log_file.write(msg + "\n")
    #log_file.close()   
    
def get_all_cell_data(df, tracking_trigger = 10000):
    
    all_cells = []      
    count = 0    
    time1 = time.time()
    
    for index, row in df.iterrows():
        
        # track progress through notebooks
        count += 1
        if count % tracking_trigger == 0:
            print('%s nbs in %s seconds' % (count, time.time() - time1))

        f = '../data/notebooks/nb_%s.ipynb' % row['nb_id']
        with open(f) as nb_file:
            date_string = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

            try:
                data = json.load(nb_file)
            except:
                msg = '%s: had trouble loading nb %s' % (date_string, row['nb_id'])
                write_to_log(msg)
                continue

            if isinstance(data, dict): 
                keys = data.keys()
            else:
                keys = []

            # get data for each cell, v 4.0
            if 'cells' in keys:
                for i, c in enumerate(data['cells']):
                    cell_data = get_cell_data(c, i, row['nb_id'])
                    all_cells.append(cell_data)
            
            # get data for each cell, v 3.0
            elif 'worksheets' in keys:
                for j, w in enumerate(data['worksheets']):
                    
                    if isinstance(w, dict): 
                        worksheet_keys = w.keys()
                    else:
                        keys = []
                    
                    if 'cells' in worksheet_keys:
                        for k, c in enumerate(w['cells']):
                            cell_data = get_cell_data(c, k, row['nb_id'], j)
                            all_cells.append(cell_data)
                
    return all_cells
    
def get_cell_data(cell, index, nb_id, worksheet_index = None):
    nbformat_3_mimes = ['text', 'latex', 'png', 'jpeg', 'svg', 'html', 'javascript', 'json', 'pdf', 'metadata']
    
    if isinstance(cell, dict): 
        cell_keys = cell.keys()
    else:
        cell_keys = [] 
    
    if 'cell_type' in cell_keys:
        cell_type = cell['cell_type']
    else:
        cell_type = None
    
    
    if cell_type in ['raw','markdown','heading']:
        num_words = 0
        if 'source' in cell_keys:
            if isinstance(cell['source'], list):
                for l in cell['source']:
                    words = len(l.split())
                    num_words += words
            elif isinstance(cell['source'], str):
                num_words += len(cell['source'].split())
            else:
                num_words = None
    else:
        num_words = None
    
    if cell_type == 'code':
        lines_of_code = 0
        if 'source' in cell_keys:
            if isinstance(cell['source'], list):
                lines_of_code = len(cell['source'])
            elif isinstance(cell['source'], str):
                lines_of_code = len(cell['source'].splitlines())
            else:
                lines_of_code = None
            
        elif 'input' in cell_keys:
            if isinstance(cell['input'], list):
                lines_of_code = len(cell['input'])
            elif isinstance(cell['input'], str):
                lines_of_code = len(cell['input'].splitlines())
            else:
                lines_of_code = None
    else:
        lines_of_code = None
    
    
    # inilize output counts
    num_execute_result = 0
    num_error = 0
    num_stream = 0
    num_display_data = 0
    
    execute_result_keys = []
    error_names = []
    error_values = []
    display_data_keys = []
        
    if 'outputs' in cell_keys:
        for o in cell['outputs']:

            if isinstance(o, dict):
                output_keys = o.keys()
            else:
                output_keys = []

            if 'output_type' in output_keys:
                if o['output_type'] in ['execute_result','pyout']:
                    num_execute_result += 1
                    if 'data' in output_keys:
                        if isinstance(o['data'], dict):
                            data_keys = o['data'].keys()
                            for k in data_keys:
                                execute_result_keys.append(k)
                    else:
                        for k in output_keys:
                            if k in nbformat_3_mimes:
                                execute_result_keys.append(k)

                elif o['output_type'] in ['error','pyerr']:
                    num_error += 1
                    if 'ename' in output_keys:
                        error_names.append(o['ename'])
                    if 'evalue' in output_keys:
                        error_values.append(o['evalue'])

                elif o['output_type'] == 'stream':
                    num_stream += 1

                elif o['output_type'] == 'display_data':
                    num_display_data += 1
                    if 'data' in output_keys:
                        if isinstance(o['data'], dict):
                            data_keys = o['data'].keys()
                            for k in data_keys:
                                display_data_keys.append(k)
                    else:
                        for k in output_keys:
                            if k in nbformat_3_mimes:
                                display_data_keys.append(k)

    return [nb_id, worksheet_index, index, cell_type, num_words, lines_of_code, 
            num_execute_result, execute_result_keys, num_error, error_names, 
            error_values, num_stream, num_display_data, display_data_keys]

As is best practice, let's use a subset of the data to test our code

In [24]:
sample_cell_data = get_all_cell_data(df_nb_sample, 100)

100 nbs in 1.8204798698425293 seconds
200 nbs in 3.8096261024475098 seconds
300 nbs in 5.4645349979400635 seconds
400 nbs in 7.0867249965667725 seconds
500 nbs in 8.622582912445068 seconds
600 nbs in 9.964746952056885 seconds
700 nbs in 11.574764013290405 seconds
800 nbs in 13.0364248752594 seconds
900 nbs in 14.345754146575928 seconds
1000 nbs in 15.574757099151611 seconds

And let's see how the celld ata looks

In [28]:
df_cell = pd.DataFrame(sample_cell_data)
print(df_cell.shape)
df_cell.columns = ['nb_id','workbook_index','cell_index','cell_type','num_words','lines_of_code',
                   'num_execute_result','execute_result_keys','num_error','error_names','error_values',
                   'num_stream','num_display_data','display_data_keys']
df_cell.head(20)

(21560, 14)

,nb_id,workbook_index,cell_index,cell_type,num_words,lines_of_code,num_execute_result,execute_result_keys,num_error,error_names,error_values,num_stream,num_display_data,display_data_keys
0,950229,None,0,markdown,5.0,NaN,0,[],0,[],[],0,0,[]
1,950229,None,1,code,NaN,8.0,0,[],0,[],[],0,0,[]
2,950229,None,2,markdown,7.0,NaN,0,[],0,[],[],0,0,[]
3,950229,None,3,code,NaN,2.0,1,[text/plain],0,[],[],0,0,[]
4,950229,None,4,code,NaN,14.0,0,[],0,[],[],1,0,[]
5,950229,None,5,markdown,11.0,NaN,0,[],0,[],[],0,0,[]
6,950229,None,6,code,NaN,6.0,0,[],0,[],[],1,0,[]
7,950229,None,7,code,NaN,1.0,0,[],0,[],[],1,0,[]
8,950229,None,8,code,NaN,1.0,0,[],0,[],[],0,0,[]
9,950229,None,9,code,NaN,1.0,0,[],0,[],[],1,0,[]
10,950229,None,10,code,NaN,1.0,0,[],0,[],[],1,0,[]
11,950229,None,11,code,NaN,1.0,1,[text/plain],0,[],[],0,0,[]
12,950229,None,12,code,NaN,1.0,1,[text/plain],0,[],[],0,0,[]
13,371672,None,0,code,NaN,1.0,0,[],0,[],[],0,0,[]
14,371672,None,1,code,NaN,1.0,0,[],0,[],[],0,0,[]
15,371672,None,2,code,NaN,1.0,0,[],0,[],[],0,0,[]
16,371672,None,3,code,NaN,1.0,0,[],0,[],[],0,0,[]
17,371672,None,4,code,NaN,1.0,0,[],0,[],[],0,0,[]
18,371672,None,5,code,NaN,4.0,0,[],0,[],[],0,0,[]
19,371672,None,6,code,NaN,0.0,0,[],0,[],[],0,0,[]

In [31]:
df_cell.to_csv('../data/csv/cell_metadata_sample.csv')

Alright, that computing of cell data seemed to work on 1000 notebooks, now for the 1.25 million

In [36]:
all_cell_data = get_all_cell_data(df_nb, 10000)

df_cell = pd.DataFrame(all_cell_data)
print(df_cell.shape)
df_cell.columns = ['nb_id','workbook_index','cell_index','cell_type','num_words','lines_of_code',
                   'num_execute_result','execute_result_keys','num_error','error_names','error_values',
                   'num_stream','num_display_data','display_data_keys']

df_cell.to_csv('../data/csv/cell_metadata.csv')

10000 nbs in 51.6393301486969 seconds
20000 nbs in 96.67775797843933 seconds
30000 nbs in 211.67645001411438 seconds
40000 nbs in 261.78705406188965 seconds
50000 nbs in 318.10353207588196 seconds
60000 nbs in 427.5553991794586 seconds
70000 nbs in 474.3860511779785 seconds
80000 nbs in 516.8671221733093 seconds
90000 nbs in 701.8724331855774 seconds
100000 nbs in 750.3447201251984 seconds
110000 nbs in 798.1056818962097 seconds
120000 nbs in 839.1192629337311 seconds
130000 nbs in 884.4429590702057 seconds
140000 nbs in 940.4327092170715 seconds
150000 nbs in 1103.9290418624878 seconds
160000 nbs in 1145.1924579143524 seconds
170000 nbs in 1196.874055147171 seconds
180000 nbs in 1256.7895259857178 seconds
190000 nbs in 1299.6017332077026 seconds
200000 nbs in 1560.0286478996277 seconds
210000 nbs in 1612.138699054718 seconds
220000 nbs in 1665.2173948287964 seconds
230000 nbs in 1720.3766241073608 seconds
240000 nbs in 1770.952070236206 seconds
250000 nbs in 1930.45654296875 seconds
260000 nbs in 1987.774353981018 seconds
270000 nbs in 2027.9114711284637 seconds
280000 nbs in 2078.8822560310364 seconds
290000 nbs in 2276.956682920456 seconds
300000 nbs in 2351.0197520256042 seconds
310000 nbs in 2393.186933994293 seconds
320000 nbs in 2448.6896300315857 seconds
330000 nbs in 2509.922529935837 seconds
340000 nbs in 2565.8419001102448 seconds
350000 nbs in 2637.621735095978 seconds
360000 nbs in 2702.35706114769 seconds
370000 nbs in 2893.5100989341736 seconds
380000 nbs in 2949.485123157501 seconds
390000 nbs in 2999.673696041107 seconds
400000 nbs in 3052.380494117737 seconds
410000 nbs in 3108.901848077774 seconds
420000 nbs in 3158.426920890808 seconds
430000 nbs in 3221.064709186554 seconds
440000 nbs in 3371.9319269657135 seconds
450000 nbs in 3431.9365770816803 seconds
460000 nbs in 3483.800318956375 seconds
470000 nbs in 3530.7681698799133 seconds
480000 nbs in 3581.5767500400543 seconds
490000 nbs in 3624.4228279590607 seconds
500000 nbs in 3845.2809710502625 seconds
510000 nbs in 3899.7848150730133 seconds
520000 nbs in 3940.861020088196 seconds
530000 nbs in 4003.2564401626587 seconds
540000 nbs in 4074.2703778743744 seconds
550000 nbs in 4116.3468542099 seconds
560000 nbs in 4153.606160163879 seconds
570000 nbs in 4205.875293016434 seconds
580000 nbs in 4244.9524269104 seconds
590000 nbs in 4297.513583183289 seconds
600000 nbs in 4575.0151998996735 seconds
610000 nbs in 4614.270046949387 seconds
620000 nbs in 4660.768817186356 seconds
630000 nbs in 4714.199879169464 seconds
640000 nbs in 4739.609806060791 seconds
650000 nbs in 4786.9290680885315 seconds
660000 nbs in 4839.917432069778 seconds
670000 nbs in 4896.847893953323 seconds
680000 nbs in 4927.452115058899 seconds
690000 nbs in 4982.439652204514 seconds
700000 nbs in 5035.993694067001 seconds
710000 nbs in 5106.412026166916 seconds
720000 nbs in 5130.562244176865 seconds
730000 nbs in 5181.469801902771 seconds
740000 nbs in 5244.049917936325 seconds
750000 nbs in 5296.62189412117 seconds
760000 nbs in 5360.540850162506 seconds
770000 nbs in 5625.811524152756 seconds
780000 nbs in 5682.210716962814 seconds
790000 nbs in 5713.412777900696 seconds
800000 nbs in 5789.236466169357 seconds
810000 nbs in 5821.360795021057 seconds
820000 nbs in 5889.517549991608 seconds
830000 nbs in 5917.890964984894 seconds
840000 nbs in 5991.628731250763 seconds
850000 nbs in 6021.727158069611 seconds
860000 nbs in 6105.157811880112 seconds
870000 nbs in 6139.025550127029 seconds
880000 nbs in 6235.722273111343 seconds
890000 nbs in 6310.319628953934 seconds
900000 nbs in 6587.409070014954 seconds
910000 nbs in 6655.34548997879 seconds
920000 nbs in 6722.819885969162 seconds
930000 nbs in 6801.26966714859 seconds
940000 nbs in 6877.122502088547 seconds
950000 nbs in 6906.878249883652 seconds
960000 nbs in 6968.085087060928 seconds
970000 nbs in 7018.878655910492 seconds
980000 nbs in 7086.946969032288 seconds
990000 nbs in 7118.514975070953 seconds
1000000 nbs in 7203.4614980220795 seconds
1010000 nbs in 7235.919112920761 seconds
1020000 nbs in 7267.747694015503 seconds
1030000 nbs in 7353.743661165237 seconds
1040000 nbs in 7379.702022075653 seconds
1050000 nbs in 7415.367626905441 seconds
1060000 nbs in 7496.421581983566 seconds
1070000 nbs in 7649.714163064957 seconds
1080000 nbs in 7951.34380698204 seconds
1090000 nbs in 7979.472465991974 seconds
1100000 nbs in 8009.786525011063 seconds
1110000 nbs in 8087.559676885605 seconds
1120000 nbs in 8120.092629909515 seconds
1130000 nbs in 8243.72106385231 seconds
1140000 nbs in 8275.043359994888 seconds
1150000 nbs in 8314.80474805832 seconds
1160000 nbs in 8346.331575155258 seconds
1170000 nbs in 8466.870192050934 seconds
1180000 nbs in 8498.828675985336 seconds
1190000 nbs in 8527.106701135635 seconds
1200000 nbs in 8555.67893910408 seconds
1210000 nbs in 8673.32939696312 seconds
1220000 nbs in 8708.86400103569 seconds
1230000 nbs in 8739.852780103683 seconds
1240000 nbs in 8772.164583921432 seconds
1250000 nbs in 8888.139310121536 seconds
(29997824, 14)

## Scrape nbformat 2.0 and 3.0 cells

Coming back from a break, it appears I did not check my code closely last time as I have a large number of files that did not get parsed. These are mainly the nbformat 2.0 and 3.0 files that store cells in a worksheet.

First up, I need a list of those files that did not make it into the list, igoring the ones that did not parse since these are simply due to malformatted json.

In [38]:
missing_cell_data = []

with open('../logs/cell_parse_log.txt', 'r') as f:
    for l in f:
        missing_cell_data.append(int(l.split(' ')[6]))

missing_cell_data = set(missing_cell_data)
missing_cell_data = np.array(list(missing_cell_data))
len(missing_cell_data)

12054

In [39]:
df_cell = pd.read_csv('../data/csv/cell_metadata.csv')
nbs_with_cell_data = df_cell.nb_id.unique()

In [41]:
nbs_not_reparse = np.unique(np.append(missing_cell_data, nbs_with_cell_data))
len(nbs_not_reparse)

1079894

In [42]:
df_nbs_to_reparse = df_nb[~df_nb.nb_id.isin(nbs_not_reparse)]
df_nbs_to_reparse.shape

(173726, 23)

Okay, so we have ~173k notebooks that were not parsed and that are not a part of our known problem notebooks (i.e. ones with malformatted json that we could not get metadata from in step 1)

Let's test the revised code to make sure it works.

In [47]:
df_nbs_to_reparse_sample = df_nbs_to_reparse.sample(1000)

sample_reparse = get_all_cell_data(df_nbs_to_reparse_sample, 100)

100 nbs in 1.71806001663208 seconds
200 nbs in 3.44852614402771 seconds
300 nbs in 5.113385915756226 seconds
400 nbs in 6.739964008331299 seconds
500 nbs in 8.426445007324219 seconds
600 nbs in 10.00645899772644 seconds
700 nbs in 11.894474029541016 seconds
800 nbs in 13.5018949508667 seconds
900 nbs in 15.192470073699951 seconds
1000 nbs in 16.959682941436768 seconds

In [48]:
df_sample_reparse = pd.DataFrame(sample_reparse)

In [53]:
df_sample_reparse.shape
df_sample_reparse.columns = ['nb_id','workbook_index','cell_index','cell_type','num_words','lines_of_code',
                   'num_execute_result','execute_result_keys','num_error','error_names','error_values',
                   'num_stream','num_display_data','display_data_keys']

In [55]:
len(df_sample_reparse['nb_id'].unique())

987

Yep, of the 1000 notebooks we tried to get data on, 13 didn't work. That is likely to more JSON malformatting issues. Okay, that sample worked, so now for all the missing data

In [56]:
reparse_cell_data = get_all_cell_data(df_nbs_to_reparse, 10000)

df_cell_reparse = pd.DataFrame(reparse_cell_data)
print(df_cell_reparse.shape)
df_cell_reparse.columns = ['nb_id','workbook_index','cell_index','cell_type','num_words','lines_of_code',
                   'num_execute_result','execute_result_keys','num_error','error_names','error_values',
                   'num_stream','num_display_data','display_data_keys']

df_cell_reparse.to_csv('../data/csv/cell_metadata_v2-3.csv')

10000 nbs in 96.36146402359009 seconds
20000 nbs in 194.91301703453064 seconds
30000 nbs in 448.3327031135559 seconds
40000 nbs in 548.8574161529541 seconds
50000 nbs in 681.528135061264 seconds
60000 nbs in 799.5319352149963 seconds
70000 nbs in 904.6161372661591 seconds
80000 nbs in 1007.1710021495819 seconds
90000 nbs in 1117.6736481189728 seconds
100000 nbs in 1200.3324780464172 seconds
110000 nbs in 1310.8296191692352 seconds
120000 nbs in 1388.7029349803925 seconds
130000 nbs in 1501.5205039978027 seconds
140000 nbs in 1571.8860640525818 seconds
150000 nbs in 1660.7107701301575 seconds
160000 nbs in 1728.6355922222137 seconds
170000 nbs in 1798.524698972702 seconds
(4693111, 14)

In [69]:
reparsed_nbs = df_cell_reparse.nb_id.unique()

In [71]:
print(len(reparsed_nbs) + len(nbs_with_cell_data))
len(np.intersect1d(reparsed_nbs, nbs_not_reparse, assume_unique=True))

1239355

0

Between our first pass (which mainly got data from nbformat 4.0 notebooks) and this pass (which included 2.0 and 3.0 notebooks) we have 1.24 million notebooks, none of which overlap between the two lists. Now we can merge the two lists and save the updated csv file about cell data.

In [72]:
df_cell_all = pd.concat([df_cell_reparse, df_cell])
len(df_cell_all.nb_id.unique())

1239355

In [68]:
df_cell_all.to_csv('../data/csv/cell_metadata.csv')

## 3. Data about Cell Content

This will be the more complex parsing of data files. The main things we may want to get for now are imports, headers, and links. 

For the imports, I will need to watch for:
1. Python (import, from)
2. R (library, require)
3. Julia (using, import, importall)

I won't look at other languages as they all had less than 0.1 % of the full sample. 

For headers we can look for # in the markdown as well as the header cells in notebooks written in nbformat 2.0 - 3.0.

For links we may just use a regular expression. However, will this capture relative links? For that we may need to do another regular expression and check if the value returned looks like a url. If not, we may assume it is a relative link.

In [3]:
# Cell metadata
df_cell = pd.read_csv('../data/csv/cell_metadata.csv')
#df_nb.rename(columns = {'Unnamed: 0':'nb_id'}, inplace = True)
print(df_cell.shape)
df_cell.head()

(34690935, 16)

,Unnamed: 0,Unnamed: 0.1,cell_index,cell_type,display_data_keys,error_names,error_values,execute_result_keys,lines_of_code,nb_id,num_display_data,num_error,num_execute_result,num_stream,num_words,workbook_index
0,0,NaN,0,heading,[],[],[],[],NaN,609,0,0,0,0,4.0,0.0
1,1,NaN,1,markdown,[],[],[],[],NaN,609,0,0,0,0,5.0,0.0
2,2,NaN,2,code,[],[],[],[],1.0,609,0,0,0,1,NaN,0.0
3,3,NaN,3,code,[],[],[],[],1.0,609,0,0,0,0,NaN,0.0
4,4,NaN,4,markdown,[],[],[],[],NaN,609,0,0,0,0,13.0,0.0

In [12]:
df_nb_sample = df_nb.sample(1000)

In [116]:
def write_to_log(msg, log_name):
    f = '../logs/%s.txt' % log_name
    log_file = open(f, "a")
    log_file.write(msg + "\n")

def get_cell_content_data(df, tracking_trigger = 10000):
    
    all_cells = []      
    count = 0    
    time1 = time.time()
    
    for index, row in df.iterrows():
        
        # track progress through notebooks
        count += 1
        if count % tracking_trigger == 0:
            print('%s nbs in %s seconds' % (count, time.time() - time1))

        f = '../data/notebooks/nb_%s.ipynb' % row['nb_id']
        with open(f) as nb_file:
            date_string = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

            try:
                data = json.load(nb_file)
            except:
                msg = '%s: had trouble loading nb %s' % (date_string, row['nb_id'])
                write_to_log(msg, 'cell_parse_content')
                continue

            if isinstance(data, dict): 
                keys = data.keys()
            else:
                keys = []
                
            # get the language
            nb_language = None
            if 'metadata' in keys:
                if isinstance(data, dict):
                    metadata_keys = data['metadata'].keys()
                else:
                    metadata_keys = []
            else:
                metadata_keys = []
            if 'language_info' in metadata_keys:
                if isinstance(data['metadata']['language_info'], dict):
                    lang_keys = data['metadata']['language_info'].keys()
                else:
                    lang_keys = None
                if 'name' in lang_keys:
                    nb_language = data['metadata']['language_info']['name']
            elif 'language' in metadata_keys:
                nb_language = data['metadata']['language']

            # get data for each cell, nbformat v 4.x
            if 'cells' in keys:
                for i, c in enumerate(data['cells']):
                    cell_data = get_cell_data(c, i, row['nb_id'], nb_language)
                    all_cells.append(cell_data)
            
            # get data for each cell, nbformat v 2.x / 3.x
            elif 'worksheets' in keys:
                for j, w in enumerate(data['worksheets']):
                    if isinstance(w, dict): 
                        worksheet_keys = w.keys()
                    else:
                        keys = []
                    if 'cells' in worksheet_keys:
                        for k, c in enumerate(w['cells']):
                            cell_data = get_cell_data(c, k, row['nb_id'], nb_language, j)
                            all_cells.append(cell_data)
                
    return all_cells
   

def get_cell_data(cell, index, nb_id, nb_language, worksheet_index = None):

    if isinstance(cell, dict): 
        cell_keys = cell.keys()
    else:
        cell_keys = [] 
    
    # get the cell type
    if 'cell_type' in cell_keys:
        cell_type = cell['cell_type']
    else:
        cell_type = None
    
    headings = []
    links = []
    imports = []
    
   # get the imports for python, Julia, and R
    if cell_type == 'code':
        
        lines_of_code = []
        
        if 'source' in cell_keys:
            if isinstance(cell['source'], list):
                lines_of_code = cell['source']
            elif isinstance(cell['source'], str):
                lines_of_code = cell['source'].splitlines()
            
        elif 'input' in cell_keys:
            if isinstance(cell['input'], list):
                lines_of_code = cell['input']
            elif isinstance(cell['input'], str):
                lines_of_code = cell['input'].splitlines()
                
        if nb_language == 'python':
            import_words = ['import', 'from']
        elif nb_language == 'R':
            import_words = ['library', 'require']
        elif nb_language in ['Julia', 'julia']:
            import_words = ['import', 'importall', 'using']
        else:
            import_words = []
            
        # get imports
        for l in lines_of_code:
            words = [x for x in re.split('\(|\)|\s*', l)if x]
            if len(words) >1:
                if words[0] in import_words:                    
                    imports.append(words[1])
    
    
    elif cell_type in ['heading', 'markdown']:
        
        
        # get the lines of markdown
        lines_of_markdown = []
        if 'source' in cell_keys:
            if isinstance(cell['source'], list):
                lines_of_markdown = cell['source']
            elif isinstance(cell['source'], str):
                lines_of_markdown = cell['source'].splitlines()
        
        # track headings in heading cells
        if 'level' in cell_keys:
            if 'source' in cell_keys:
                if len(lines_of_markdown) > 0:
                    headings.append([cell['level'], cell['source']])
        
        for l in lines_of_markdown:
            # get headings in markdown cells
            words = [x for x in re.split('\s*', l)if x]
            if len(words) > 2:
                if words[0] in ['#', '##', '###', '####', '#####', '######']:
                    headings.append([len(words[0]), l.split(words[0])[1]])


            # get links
            urls = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', l)
            all_links = re.findall('\[([^]]+)]\(\s*(\S*)\)', l)
            for al in all_links:
                if al[:4] != 'http':
                    urls.append(al)
            for u in urls:
                links.append(u)
                
    return [nb_id, nb_language, index, worksheet_index, len(imports), imports, len(headings), headings, len(links), links]

In [117]:
all_cell_content = get_cell_content_data(df_nb)

/Users/doug/anaconda/lib/python3.6/re.py:212: FutureWarning: split() requires a non-empty pattern match.
  return _compile(pattern, flags).split(string, maxsplit)

10000 nbs in 89.49553108215332 seconds
20000 nbs in 152.4832980632782 seconds
30000 nbs in 299.51114320755005 seconds
40000 nbs in 362.0098571777344 seconds
50000 nbs in 423.6947419643402 seconds
60000 nbs in 557.3618211746216 seconds
70000 nbs in 615.9819240570068 seconds
80000 nbs in 678.034924030304 seconds
90000 nbs in 874.8168749809265 seconds
100000 nbs in 948.9306139945984 seconds
110000 nbs in 1002.5217590332031 seconds
120000 nbs in 1071.4504733085632 seconds
130000 nbs in 1131.0978531837463 seconds
140000 nbs in 1190.4886672496796 seconds
150000 nbs in 1372.1092112064362 seconds
160000 nbs in 1427.0663442611694 seconds
170000 nbs in 1477.3288660049438 seconds
180000 nbs in 1568.324743270874 seconds
190000 nbs in 1624.2207202911377 seconds
200000 nbs in 1885.0916562080383 seconds
210000 nbs in 1957.902288198471 seconds
220000 nbs in 2029.415874004364 seconds
230000 nbs in 2096.896448135376 seconds
240000 nbs in 2161.0267741680145 seconds
250000 nbs in 2315.6539692878723 seconds
260000 nbs in 2401.120073080063 seconds
270000 nbs in 2458.995297193527 seconds
280000 nbs in 2527.1078341007233 seconds
290000 nbs in 2738.9103581905365 seconds
300000 nbs in 2822.855035305023 seconds
310000 nbs in 2880.040239095688 seconds
320000 nbs in 2949.8064420223236 seconds
330000 nbs in 3028.3821601867676 seconds
340000 nbs in 3099.8800671100616 seconds
350000 nbs in 3178.4208550453186 seconds
360000 nbs in 3277.925493001938 seconds
370000 nbs in 3480.346081018448 seconds
380000 nbs in 3550.7310383319855 seconds
390000 nbs in 3615.697517156601 seconds
400000 nbs in 3683.8861050605774 seconds
410000 nbs in 3755.9084873199463 seconds
420000 nbs in 3820.9868671894073 seconds
430000 nbs in 3896.2320771217346 seconds
440000 nbs in 4058.4396159648895 seconds
450000 nbs in 4133.81902217865 seconds
460000 nbs in 4201.71409201622 seconds
470000 nbs in 4265.122828006744 seconds
480000 nbs in 4330.264795303345 seconds
490000 nbs in 4390.408399105072 seconds
500000 nbs in 4624.54909324646 seconds
510000 nbs in 4684.904812097549 seconds
520000 nbs in 4757.32219004631 seconds
530000 nbs in 4835.961404323578 seconds
540000 nbs in 4893.565432071686 seconds
550000 nbs in 4951.591486930847 seconds
560000 nbs in 5003.232782125473 seconds
570000 nbs in 5069.97869515419 seconds
580000 nbs in 5123.319299221039 seconds
590000 nbs in 5189.943873167038 seconds
600000 nbs in 5483.97695016861 seconds
610000 nbs in 5534.677032232285 seconds
620000 nbs in 5597.261283159256 seconds
630000 nbs in 5666.954096078873 seconds
640000 nbs in 5708.101029157639 seconds
650000 nbs in 5771.00864815712 seconds
660000 nbs in 5838.338509082794 seconds
670000 nbs in 5910.926416158676 seconds
680000 nbs in 5955.282804012299 seconds
690000 nbs in 6026.568785190582 seconds
700000 nbs in 6096.557006120682 seconds
710000 nbs in 6170.101118326187 seconds
720000 nbs in 6210.21950006485 seconds
730000 nbs in 6277.115337133408 seconds
740000 nbs in 6357.969591140747 seconds
750000 nbs in 6427.5450003147125 seconds
760000 nbs in 6504.0871431827545 seconds
770000 nbs in 6767.268722295761 seconds
780000 nbs in 6839.226057052612 seconds
790000 nbs in 6885.362501144409 seconds
800000 nbs in 6977.608586072922 seconds
810000 nbs in 7025.511955976486 seconds
820000 nbs in 7112.281118154526 seconds
830000 nbs in 7158.467273950577 seconds
840000 nbs in 7251.231594085693 seconds
850000 nbs in 7296.707373142242 seconds
860000 nbs in 7397.272436141968 seconds
870000 nbs in 7447.1029732227325 seconds
880000 nbs in 7570.452437162399 seconds
890000 nbs in 7651.285825014114 seconds
900000 nbs in 7910.026871204376 seconds
910000 nbs in 7993.787154197693 seconds
920000 nbs in 8066.258733034134 seconds
930000 nbs in 8154.621236085892 seconds
940000 nbs in 8231.268998146057 seconds
950000 nbs in 8273.746516942978 seconds
960000 nbs in 8350.283723115921 seconds
970000 nbs in 8417.181621074677 seconds
980000 nbs in 8499.860312223434 seconds
990000 nbs in 8542.692520141602 seconds
1000000 nbs in 8636.812382221222 seconds
1010000 nbs in 8682.914156198502 seconds
1020000 nbs in 8730.774671077728 seconds
1030000 nbs in 8827.545327186584 seconds
1040000 nbs in 8867.72259092331 seconds
1050000 nbs in 8919.919497013092 seconds
1060000 nbs in 9097.381534337997 seconds
1070000 nbs in 9155.295894145966 seconds
1080000 nbs in 9449.366125106812 seconds
1090000 nbs in 9491.391468048096 seconds
1100000 nbs in 9535.768416166306 seconds
1110000 nbs in 9628.49822306633 seconds
1120000 nbs in 9675.507545232773 seconds
1130000 nbs in 9809.264050245285 seconds
1140000 nbs in 9855.036107063293 seconds
1150000 nbs in 9910.070399999619 seconds
1160000 nbs in 9954.865757226944 seconds
1170000 nbs in 10090.632122278214 seconds
1180000 nbs in 10137.578226327896 seconds
1190000 nbs in 10178.726165056229 seconds
1200000 nbs in 10221.098775148392 seconds
1210000 nbs in 10355.26208114624 seconds
1220000 nbs in 10404.235136985779 seconds
1230000 nbs in 10446.897441148758 seconds
1240000 nbs in 10492.04829621315 seconds
1250000 nbs in 10619.784330129623 seconds

In [118]:
df_cell_content = pd.DataFrame(all_cell_content)

In [126]:
df_cell_content.columns = ['nb_id', 'nb_language', 'cell_index', 'workbook_index', 
                           'num_imports', 'imports', 'num_headers', 'headers',
                           'num_links', 'links']

In [139]:
df_cell_meta_content = df_cell.merge(df_cell_content, how = 'left', on = ['nb_id', 'cell_index', 'workbook_index'])

In [143]:
del df_cell_meta_content['Unnamed: 0']
del df_cell_meta_content['Unnamed: 0.1']
del df_cell_meta_content['nb_language']

In [144]:
df_cell_meta_content.to_csv('../data/csv/cell_metadata_content.csv')

And now to the analysis! I think

## 4.0 More Data about Cell (code) Content 

After doing some of the later analysis for this project, we decided that we want a little more data about each notebook. Namely the code contents with comments, use of functions, and so on.

In [2]:
# Load cell metadata
df_cell = pd.read_csv('../data/csv/cell_metadata_content.csv')

print(df_cell.shape[0])
df_cell.head()

34690935

,Unnamed: 0,cell_index,cell_type,display_data_keys,error_names,error_values,execute_result_keys,lines_of_code,nb_id,num_display_data,...,num_execute_result,num_stream,num_words,workbook_index,num_imports,imports,num_headers,headers,num_links,links
0,0,0,heading,[],[],[],[],NaN,609,0,...,0,0,4.0,0.0,0,[],1,"[[1, ['NumPy and Matplotlib examples']]]",0,[]
1,1,1,markdown,[],[],[],[],NaN,609,0,...,0,0,5.0,0.0,0,[],0,[],0,[]
2,2,2,code,[],[],[],[],1.0,609,0,...,0,1,NaN,0.0,0,[],0,[],0,[]
3,3,3,code,[],[],[],[],1.0,609,0,...,0,0,NaN,0.0,0,[],0,[],0,[]
4,4,4,markdown,[],[],[],[],NaN,609,0,...,0,0,13.0,0.0,0,[],0,[],0,[]

In [13]:
# get list of nbs to check
nbs_w_cells = df_cell['nb_id'].unique()
nbs_w_cells.shape[0]

df_nbs_cells = df_nb[df_nb['nb_id'].isin(nbs_w_cells)]

In [63]:
def write_to_log(msg, log_name):
    f = '../logs/%s.txt' % log_name
    log_file = open(f, "a")
    log_file.write(msg + "\n")

def get_cell_code_metadata(df, tracking_trigger = 10000):
    
    all_cells = []      
    count = 0    
    time1 = time.time()
    
    for index, row in df.iterrows():
        
        # track progress through notebooks
        count += 1
        if count % tracking_trigger == 0:
            print('%s nbs in %s seconds' % (count, time.time() - time1))

        f = '../data/notebooks/nb_%s.ipynb' % row['nb_id']
        with open(f) as nb_file:
            date_string = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

            try:
                data = json.load(nb_file)
            except:
                msg = '%s: had trouble loading nb %s' % (date_string, row['nb_id'])
                write_to_log(msg, 'cell_parse_code_content')
                continue

            if isinstance(data, dict): 
                keys = data.keys()
            else:
                keys = []

            # get the language
            nb_language = None
            if 'metadata' in keys:
                if isinstance(data, dict):
                    metadata_keys = data['metadata'].keys()
                else:
                    metadata_keys = []
            else:
                metadata_keys = []
            if 'language_info' in metadata_keys:
                if isinstance(data['metadata']['language_info'], dict):
                    lang_keys = data['metadata']['language_info'].keys()
                else:
                    lang_keys = None
                if 'name' in lang_keys:
                    nb_language = data['metadata']['language_info']['name']
            elif 'language' in metadata_keys:
                nb_language = data['metadata']['language']
                
            # get data for each cell, nbformat v 4.x
            if 'cells' in keys:
                for i, c in enumerate(data['cells']):
                    cell_data = get_cell_data(c, i, row['nb_id'], nb_language)
                    all_cells.append(cell_data)
            
            # get data for each cell, nbformat v 2.x / 3.x
            elif 'worksheets' in keys:
                for j, w in enumerate(data['worksheets']):
                    if isinstance(w, dict): 
                        worksheet_keys = w.keys()
                    else:
                        keys = []
                    if 'cells' in worksheet_keys:
                        for k, c in enumerate(w['cells']):
                            cell_data = get_cell_data(c, k, row['nb_id'], nb_language, j)
                            all_cells.append(cell_data)
                
    return all_cells

def get_cell_data(cell, index, nb_id, nb_language, worksheet_index = None):

    if isinstance(cell, dict): 
        cell_keys = cell.keys()
    else:
        cell_keys = [] 
    
    # get the cell type
    if 'cell_type' in cell_keys:
        cell_type = cell['cell_type']
    else:
        cell_type = None
    
    functions = []
    classes = []
    comments = 0
    comments_words = 0
    in_multiline = False
    
   # get the imports for python, Julia, and R
    if cell_type == 'code':
        
        # get lines of code
        lines_of_code = []
        if 'source' in cell_keys:
            if isinstance(cell['source'], list):
                lines_of_code = cell['source']
            elif isinstance(cell['source'], str):
                lines_of_code = cell['source'].splitlines()          
        elif 'input' in cell_keys:
            if isinstance(cell['input'], list):
                lines_of_code = cell['input']
            elif isinstance(cell['input'], str):
                lines_of_code = cell['input'].splitlines()
                
        if nb_language == 'python':
            for l in lines_of_code:
                l = l.lstrip()
                parts = l.split()
                if len(parts) >= 2:                
                    if l.startswith('def'):
                        functions.append(parts[1].split('(')[0])
                    elif l.startswith('class'):
                        classes.append(parts[1].split('(')[0])
                
                if in_multiline:
                    comments += 1
                    comments_words += len(parts) - 1
                
                if l.startswith('"""'):
                    if not in_multiline:
                        comments += 1
                        comments_words += len(parts) - 1
                    in_multiline = not in_multiline
                elif l.startswith("'''"):
                    if not in_multiline:
                        comments += 1
                        comments_words += len(parts) - 1
                    in_multiline = not in_multiline
                elif l.startswith('#'):
                    comments += 1
                    comments_words += len(parts) - 1
                
                
    return [nb_id, nb_language, index, worksheet_index, len(functions), functions, len(classes), classes, comments, comments_words]

In [64]:
cell_code_content = get_cell_code_metadata(df_nbs_cells)

10000 nbs in 100.05687093734741 seconds
20000 nbs in 154.06442880630493 seconds
30000 nbs in 294.8419370651245 seconds
40000 nbs in 347.7073030471802 seconds
50000 nbs in 398.4782769680023 seconds
60000 nbs in 515.4168570041656 seconds
70000 nbs in 567.0472660064697 seconds
80000 nbs in 612.7847809791565 seconds
90000 nbs in 801.9396131038666 seconds
100000 nbs in 848.1235349178314 seconds
110000 nbs in 892.9966039657593 seconds
120000 nbs in 945.7173871994019 seconds
130000 nbs in 993.585531949997 seconds
140000 nbs in 1093.6600029468536 seconds
150000 nbs in 1260.6267700195312 seconds
160000 nbs in 1302.7648758888245 seconds
170000 nbs in 1355.7270030975342 seconds
180000 nbs in 1408.9285321235657 seconds
190000 nbs in 1456.095136165619 seconds
200000 nbs in 1740.700397014618 seconds
210000 nbs in 1788.9886770248413 seconds
220000 nbs in 1834.3918809890747 seconds
230000 nbs in 1896.7951159477234 seconds
240000 nbs in 2057.247360944748 seconds
250000 nbs in 2106.0779650211334 seconds
260000 nbs in 2152.246078968048 seconds
270000 nbs in 2206.2912809848785 seconds
280000 nbs in 2254.130028963089 seconds
290000 nbs in 2479.0287828445435 seconds
300000 nbs in 2531.0812010765076 seconds
310000 nbs in 2588.8242321014404 seconds
320000 nbs in 2647.511307954788 seconds
330000 nbs in 2706.8955109119415 seconds
340000 nbs in 2773.3869099617004 seconds
350000 nbs in 2842.2509319782257 seconds
360000 nbs in 2997.502103805542 seconds
370000 nbs in 3098.125368833542 seconds
380000 nbs in 3148.3718729019165 seconds
390000 nbs in 3204.7948009967804 seconds
400000 nbs in 3286.6498777866364 seconds
410000 nbs in 3345.1986269950867 seconds
420000 nbs in 3398.3360211849213 seconds
430000 nbs in 3555.1828439235687 seconds
440000 nbs in 3608.5356090068817 seconds
450000 nbs in 3671.6151189804077 seconds
460000 nbs in 3725.097979068756 seconds
470000 nbs in 3777.1283621788025 seconds
480000 nbs in 3840.5709998607635 seconds
490000 nbs in 4082.1678948402405 seconds
500000 nbs in 4129.93713593483 seconds
510000 nbs in 4175.103456020355 seconds
520000 nbs in 4219.482928991318 seconds
530000 nbs in 4281.33384513855 seconds
540000 nbs in 4338.432178974152 seconds
550000 nbs in 4379.153568029404 seconds
560000 nbs in 4422.1597809791565 seconds
570000 nbs in 4480.413324832916 seconds
580000 nbs in 4537.954124927521 seconds
590000 nbs in 4817.7510941028595 seconds
600000 nbs in 4872.186132192612 seconds
610000 nbs in 4925.693500041962 seconds
620000 nbs in 4975.965913057327 seconds
630000 nbs in 5008.963356018066 seconds
640000 nbs in 5059.386079072952 seconds
650000 nbs in 5117.238863945007 seconds
660000 nbs in 5149.811950922012 seconds
670000 nbs in 5209.338861942291 seconds
680000 nbs in 5269.071102142334 seconds
690000 nbs in 5329.698923110962 seconds
700000 nbs in 5479.954108953476 seconds
710000 nbs in 5510.27420091629 seconds
720000 nbs in 5566.72989988327 seconds
730000 nbs in 5623.944022893906 seconds
740000 nbs in 5679.432374954224 seconds
750000 nbs in 5741.943984985352 seconds
760000 nbs in 6029.559533834457 seconds
770000 nbs in 6093.947764158249 seconds
780000 nbs in 6130.555321931839 seconds
790000 nbs in 6214.15634393692 seconds
800000 nbs in 6248.064544200897 seconds
810000 nbs in 6326.576366901398 seconds
820000 nbs in 6360.306365013123 seconds
830000 nbs in 6446.538891077042 seconds
840000 nbs in 6481.068948030472 seconds
850000 nbs in 6578.694646835327 seconds
860000 nbs in 6623.353782892227 seconds
870000 nbs in 6705.65368103981 seconds
880000 nbs in 6782.761058807373 seconds
890000 nbs in 7055.4397621154785 seconds
900000 nbs in 7122.607126951218 seconds
910000 nbs in 7184.276203155518 seconds
920000 nbs in 7264.689400911331 seconds
930000 nbs in 7331.981328010559 seconds
940000 nbs in 7367.204832792282 seconds
950000 nbs in 7432.009999036789 seconds
960000 nbs in 7528.224278926849 seconds
970000 nbs in 7563.356205940247 seconds
980000 nbs in 7596.99237704277 seconds
990000 nbs in 7682.1303679943085 seconds
1000000 nbs in 7721.432518959045 seconds
1010000 nbs in 7753.44562292099 seconds
1020000 nbs in 7841.942613840103 seconds
1030000 nbs in 7877.1875150203705 seconds
1040000 nbs in 7910.875934123993 seconds
1050000 nbs in 7998.340309858322 seconds
1060000 nbs in 8037.163022041321 seconds
1070000 nbs in 8501.3209130764 seconds
1080000 nbs in 8539.061439990997 seconds
1090000 nbs in 8628.425950050354 seconds
1100000 nbs in 8664.482695102692 seconds
1110000 nbs in 8703.739027023315 seconds
1120000 nbs in 8846.993490934372 seconds
1130000 nbs in 8889.505599021912 seconds
1140000 nbs in 8928.972382068634 seconds
1150000 nbs in 8969.199517965317 seconds
1160000 nbs in 9123.135452985764 seconds
1170000 nbs in 9156.462376117706 seconds
1180000 nbs in 9191.552442073822 seconds
1190000 nbs in 9234.666141986847 seconds
1200000 nbs in 9372.712015867233 seconds
1210000 nbs in 9410.276489973068 seconds
1220000 nbs in 9448.306105852127 seconds
1230000 nbs in 9493.0521838665 seconds

In [65]:
df_code = pd.DataFrame(cell_code_content)

In [74]:
df_code.columns = ['nb_id',
                    'language',
                    'cell_index',
                    'workbook_index',
                    'num_functions',
                    'name_functions',
                    'num_classes',
                    'name_classes',
                    'num_comment_lines',
                    'num_comment_words']
df_code.head()

,nb_id,language,cell_index,workbook_index,num_functions,name_functions,num_classes,name_classes,num_comment_lines,num_comment_words
0,585,python,0,NaN,0,[],0,[],0,0
1,585,python,1,NaN,0,[],0,[],0,0
2,585,python,2,NaN,0,[],0,[],2,38
3,585,python,3,NaN,0,[],0,[],0,0
4,585,python,4,NaN,7,"[wavwrite, stft, spectrogram, mel2freq, freq2m...",0,[],141,858

In [69]:
df_code.to_csv('../data/csv/cell_metadata_code.csv')

And that's a wrap. Now we should have almost all the data we need to do our [core analysis of the notebooks](7_notebook_profiling.ipynb)